<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4">
      <h4><%= product.name %></h4>
      <p><%= link_to "Click to see product details", product_path(product), id: product.name, remote: true %></p>
      <div id = "<%= product.id %>"></div>
      <%= form_for @order_item,  method: :post, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, min: 1, placeholder: "enter quantity" %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      <% end %>

      <% if current_user && current_user.admin? %>
      <p><%= link_to "Edit Product", edit_product_path(product) %> </p>
      <p>  <%= link_to "Delete this Product", product_path(product),
                :data => {:confirm => "Are you sure?",
                  :method => "delete"} %></p>



      <% end %>

      <hr>
    </div>
  <% end %>
  </div>
</div>
